html {
    height: 100%;
  }
  body {
    margin: 0;
    background: url("https://cdn.mos.cms.futurecdn.net/wwN8dXsZLJK9YASy38LFbL.jpg");
    font-family: Calibri, "Helvetica Neue";
    height: 100%;
    overflow: hidden;
    transform: translateZ(0) scale(1, 1) translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0) scale(1, 1) translate3d(0, 0, 0);
  }
  
  #win1 {
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 9;
    background-color: rgba(242, 243, 248, 0.5);
    backdrop-filter: blur(6px);
    border-radius: 5px;
    overflow: hidden;
    width: 50%;
    height: 50%;
    transform: translateZ(0) scale(1, 1) translate3d(0, 0, 0);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0) scale(1, 1) translate3d(0, 0, 0);
  }
  
  #win1header {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    color: #444;
  }
  
  .wincontent {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }

  .menu {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    height: auto;
    margin-left: 16px;
    margin-bottom: 60px;
    padding: 10px;
    border-radius: 4px;
    background: rgba(242, 243, 248, 0.5);
  }
  
  .extensions {
    width: auto;
    height: 70%;
    border-radius: 4px;
    display: block;
    align-items: center;
  }

  .extension {
    border-radius: 4px;
    margin-top: 5px;
    background: rgba(242, 243, 248, 0.5);
    padding: 5px;
  }
  
  .settings {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    background: rgba(242, 243, 248, 0.5);
    margin-top: 10px;
    overflow-y: hidden;
    padding-top: 10px;
  }  

  ::-webkit-scrollbar {
    width: 0;
  }

  .setting {
    width: 50px;
    height: auto;
    margin: 5px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 4px;
    background: rgba(242, 243, 248, 0.5);
  }

  .taskbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }
  
  .taskbar-icons {
    padding: 5px;
    border-radius: 4px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
  }
  
  .taskbar-icon {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .taskbar-icon:hover {
    background-color: #e2e2e2;
  }
  
  .system-icons {
    margin-right: 30px;
    display: flex;
    align-items: center;
  }
  
  .system-icon {
    padding: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    justify-content: center;
    min-width: 32px;
    width: auto;
    height: 32px;
    margin-left: 16px;
    border-radius: 4px;
    
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .system-icon:hover {
    background-color: #e2e2e2;
  }
  
  .system-icon span {
    text-align: right;
    font-size: 14px;
    margin: 10px;
    color: #000;
  }

/* Terminal */
.terminal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0px 0px 5px #ffffff;
  font-family: monospace;
  font-size: 16px;
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 3;
}

.content {
  padding: 10px;
}

.command {
  display: inline;
  margin: 0;
}

table,tr {width: 100%;}

textarea {
  width: 100%;
  color: white;
  background: #111111;
  outline: none;
}

.input-box {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-family: monospace;
  font-size: 16px;
  outline: none;
  width: 100%;
}

.input-box:focus {
  outline: none;
}